# Python3

# from: https://kivy.org/docs/installation/installation-linux.html
# sudo add-apt-repository ppa:kivy-team/kivy
# sudo apt update
# sudo apt install python-kivy python-kivy-examples cython

# https://buildozer.readthedocs.io/en/latest/installation.html#targeting-android
# Android on Ubuntu 16.04 (64bit)
# sudo pip install --upgrade cython==0.21
# sudo dpkg --add-architecture i386
# sudo apt-get update
# sudo apt-get install build-essential ccache git libncurses5:i386 libstdc++6:i386 libgtk2.0-0:i386 libpangox-1.0-0:i386 libpangoxft-1.0-0:i386 libidn11:i386 python2.7 python2.7-dev openjdk-8-jdk unzip zlib1g-dev zlib1g:i386

# sudo apt install google-android-build-tools-installer

# buildozer android debug

# if missing ./distribute.sh
#   buildozer android clean
#   buildozer android debug
# endif

# pip install --upgrade buildozer
# ...
# Successfully installed virtualenv-15.1.0
# dalem@QnD:~/PycharmProjects/kivy⟫ buildozer >log 2>&1 -v android debug
#
# Yeah; it built it!
# buildozer android deploy
# The adb android debugger (or whatever) didn't see my device attached. So I emailed the apk to myself.

